<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404, page not found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="border-b py-3">
        <div class="flex justify-between max-w-5xl mx-auto items-center">
            <a href="/" class="text-lg">User management</a>
            <a href="/add" class="hover:text-blue-600 text-sm">Add User</a>
        </div>
    </div>



    <div class="mt-56 max-w-sm mx-auto text-center">
            <h1 class="text-2xl font-bold">404, page not found</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, maiores? Consequatur, alias?</p>
    </div>
</body>
</html>