<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="mt-32 w-[400px] mx-auto text-cente">
        <h1 class="text-2xl text-cente font-black mt-44">Enter your name to get started</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem officiis esse corporis, eaque maxime optio.</p>
        <form action="/register" method="post" class="text-left">
            <input name="name" type="text" class="border rounded-lg p-3 mt-3 text-black w-full focus:outline-none" placeholder="Enter name">
            <button class="bg-black text-white px-4 py-3 mt-3 rounded-lg"  type="submit">Submit Data</button>
        </form>
    </div> 
    </body>
</html>